@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Shared Style */
.primary-color {
    color: rgb(255, 84, 0);
}

.btn-primary {
    background-color: rgb(255, 84, 0);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
}

.paragraph-font-size {
    font-size: 1rem;
    color: rgba(19, 19, 24, 0.7);
    text-align: justify;
}

/* Navbar container */
.navbar-container {
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-menu {
    display: none;
}

.logo-title-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 44px;
}

/* banner section */
.banner-container {
    max-width: 1170px;
    margin: 0 auto;
    background-image: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8), rgba(19, 19, 24, 0) 100%), url('../images/banner.png');
    height: 500px;
    background-size: cover;
    text-align: center;
    border-radius: 16px;
    margin-top: 50px
}

.banner-title-container {
    max-width: 676px;
    margin: 0 auto;
    color: white;
    padding-top: 106px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.banner-title-container h1 {
    font-size: 4rem;
}

.banner-options-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
}

.banner-options-inner-container {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

::placeholder {
    color: rgba(19, 19, 24, 0.5);
}

input {
    padding: 10px 10px;
    border-radius: 8px;
    border: none;
}

select {
    width: 174px;
    padding: 10px 10px;
    color: rgba(19, 19, 24, 0.5);
    border-radius: 8px;
}

form {
    display: flex;
    gap: 24px;
}

.banner-options-container button {
    display: flex;
    padding: 10px 30px;
    border-radius: 8px;
}

.banner-container img {
    width: 18px;
    height: 18px;
}

/* Popular Tour Section */
.popular-tour-container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
    gap: 50px;
}

.pupular-tour-left-box {
    width: 50%;
}

.pupular-tour-left-box h1 {
    margin-bottom: 25px;
    font-size: 2.5rem;
    font-weight: 800;
}

.pupular-tour-left-box ul {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-bottom: 25px;
    margin-left: 20px;
    color: rgba(19, 19, 24, 0.7);
}

.pupular-tour-left-box ul>li {
    font-size: 0.875rem;
    list-style-type: disc;
    margin-top: -25px;
}

.pupular-tour-left-box button {
    margin-top: 30px;
}

.pupular-tour-right-box {
    width: 50%;
}

/* Choose Your Destination Section */
.destination-container {
    max-width: 1170px;
    margin: 0 auto;
    align-items: center;
    margin-top: 90px;
}

.destination-title-container {
    max-width: 643px;
    margin: 0 auto;
    text-align: center;
}

.destination-title-container h1, .perfect-place-left h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

.destination-container p {
    text-align: center;
    margin-top: 24px;
}

.picture-grid-container {
    margin-top: 45px;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 48px;
}

.picture-grid-container img {
    border-radius: 8px;
}

.first-grid-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}


.second-grid-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.third-grid-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.first-grid-box h2 {
    position: absolute;
    color: white;
    margin-top: 150px;
    margin-left: 240px;
}

.second-grid-box h2 {
    position: absolute;
    color: white;
    margin-top: 150px;
    margin-left: 140px;
}

#kashmir h2 {
    margin-left: 90px;
}

.third-grid-box h2 {
    position: absolute;
    color: white;
    margin-top: 150px;
    margin-left: 165px;
}

#bandarban h2 {
    margin-left: 265px;
}

/* Why Choose Us Section */
.why-choose-container {
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 48px;
}

.why-choose-title-container {
    max-width: 643px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.why-choose-title-container h1,
.deals-discounts-title-container h1 {
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 35px;
}

.why-choose-title-container p,
.deals-discounts-title-container p{
    color: rgba(19, 19, 24, 0.7);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.why-choose-first-grid-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

#handpicked-hotels {
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
}

.why-choose-card-inner-box {
    max-width: 486px;
    margin: 0 auto;
    padding: 32px;
}

.why-choose-card-inner-box img {
    margin-bottom: 32px;
}

.why-choose-card-inner-box h2 {
    margin-bottom: 16px;
}

#world-class-service {
    border: 1px solid rgba(41, 206, 246, 0.2);
    border-radius: 16px;
    background: rgba(41, 206, 246, 0.05);
}

.why-choose-second-grid-box {
    border: 1px solid rgba(233, 68, 68, 0.2);
    border-radius: 16px;
    background: rgba(233, 68, 68, 0.05);
    max-width: 573px;
    margin: 0 auto;
    margin-top: 24px;
}

/* Deals & Discounts Section */
.deals-discounts-container {
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 100px;
}

.deals-discounts-title-container{
    margin-bottom: 48px;
    max-width: 643px;
    margin: 0 auto;
}

.deals-discounts-inner-container {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.deals-discount-box{
    background-image: url('../images/deals1.png');
    height: 500px;
    margin: 0 auto;
    background-size: cover;
    padding-top: 55px;
    padding-left: 535px;
    padding-right: 56px;
    border-radius: 16px;
}

.deals-inner-box {
    max-width: 579px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
}

.deals-inner-inner-box{
    max-width: 452px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.deals-information{
    display: flex;
    gap: 24px;
    align-items: center;
}

.deals-information span{
    display: flex;
    align-items: center;
    gap: 6px;
}

#deals-first-inner-box{
    max-width: 579px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
}

.deals-discount-second-box{
    background-image: url('../images/deals2.png');
    height: 500px;
    margin: 0 auto;
    padding: 56px 535px 55px 56px;
    background-size: cover;
    border-radius: 16px;
    background-position: center;
}

.sell-all{
    text-align: center;
}

/* Simple Perfect Place */
.perfect-place-container{
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

.perfect-place-left{
    max-width: 50%;
}

.perfect-place-right1{
    max-width: 50%;
}

.perfect-place-left p{
    color: rgb(90, 90, 93);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
}

.perfect-place-left ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 25px;
    margin-bottom: 30px;
    margin-top: 25px;
}

.perfect-place-left li{
    list-style-type: disc;
}

.perfect-place-right1 iframe{
    border-radius: 10px;
}

.perfect-place-right2{
    display: none;
}

/* Subscribe section */
.subscribe-container{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    margin-bottom: 48px;
}

.form-container{
    max-width: 50%;
    padding: 40px 84px 23.5px 40px;
    border-radius: 16px;
    border: 1px solid rgb(255, 84, 0);
}

.form-container-upper-box{
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 23.5px;
}

.form-container form{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.form-container form>input{
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.subscribe-picture-container{
    max-width: 70%;
}

.subscribe-picture-container img{
    height: 375px;
    width: 100%;
}

.discount-box{
    width: 324px;
    height: 120px;
    color: white;
    border-radius: 16px;
    background: rgb(255, 84, 0);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotate(-19.63deg);
    left: 1010px;
    right: -1016.82px;
    top: 6176px;
}